{# Dywee\CoreBundle\Resources\View\Admin\index.html.twig #}

{%  extends "DyweeCoreBundle::admin.html.twig" %}

{% block body %}
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-info"></i> Information</h4>
        Pour plus de lisibilité les listings clients et adresses ont été déplacés.<br>
        Ils sont maintenant accessibles via le menu sous la sections "membres"
    </div>


    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{ activeOrders }}</h3>
                    <p>Commandes actives</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-cart-outline"></i>
                </div>
                <a href="{{ path('dywee_order_admin_table') }}" class="small-box-footer">Liste des commandes <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- /.col -->

        <div class="col-md-3 col-sm-6 col-xs-12">

            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ activeProducts }}</h3>
                    <p>Produits actifs</p>
                </div>
                <div class="icon">
                    <i class="ion ion-beer"></i>
                </div>
                <a href="{{ path('dywee_product_table') }}" class="small-box-footer">Liste des produits <i class="fa fa-arrow-circle-right"></i></a>
            </div>

        </div><!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">

            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>0</h3>
                    <p>Membres inscrits</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person"></i>
                </div>
                <a href="#" class="small-box-footer">Liste des membres <i class="fa fa-arrow-circle-right"></i></a>
            </div>

        </div><!-- /.col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>0</h3>
                    <p>Alertes</p>
                </div>
                <div class="icon">
                    <i class="ion ion-alert-circled"></i>
                </div>
                <a href="#" class="small-box-footer">Liste des alertes <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- /.col -->

    </div><!-- /.row -->

    <div class="row">

        <div class="col-md-8">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Dernières commandes</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    {% render(controller('DyweeOrderBundle:OrderAdmin:list')) %}
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pull-left">
                            <a href="{{ path('dywee_order_add') }}" class="btn btn-sm btn-info btn-block btn-flat "><i class="fa fa-plus"></i> Ajouter une commande</a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pull-right">
                            <a href="{{ path('dywee_order_admin_table') }}" class="btn btn-sm btn-block btn-default btn-flat"><i class="fa fa-list"></i> Voir toutes les commandes</a>
                        </div>
                    </div>
                </div><!-- /.box-footer -->
            </div><!-- /.box -->
        </div>


        <div class="col-md-4">
            <!-- PRODUCT LIST -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Produits récents</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    {% render(controller('DyweeProductBundle:Product:list', {orderBy: 'createdAt', limit: 15})) %}
                </div><!-- /.box-body -->
                <div class="box-footer text-center">
                    <a href="{{ path('dywee_product_table') }}">Voir tous les produits</a>
                </div><!-- /.box-footer -->
            </div><!-- /.box -->
        </div>

    </div><!-- Main row -->
{% endblock %}