{% for item in sidebar.admin %}
    {% if item.type is defined and item.type == 'header' %}
        <li class="header">MAIN NAVIGATION</li>
    {% elseif item.children is defined and item.children|length > 0 and item.label is defined %}
        <li class="treeview">
            <a href="#">
                {% if item.icon is defined and item.icon != '' %}
                    <i class="{{ item.icon }}"></i>
                {% endif %}
                <span>{{ item.label|trans }}</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                {% for child in item.children %}
                    <li>
                        {% if child.children is defined %}
                            <a href="#">
                                {% if item.icon is defined and item.icon != '' %}
                                    <i class="{{ item.icon }}"></i>
                                {% endif %}
                                <span>{{ item.label|trans }}</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                {% for subChild in child.children %}
                                    <li><a href="{{ subChild.route }}"><i class="{{ subChild.icon }}"></i> {{ subChild.label|trans }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <a href="{{ child.route }}"><i class="{{ child.icon }}"></i> {{ child.label|trans }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
                {#
                <li class="treeview active">
          <ul class="treeview-menu menu-open" style="display: block;">
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            <li class="">
              <a href="#"><i class="fa fa-circle-o"></i> Level One
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu" style="display: none;">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                <li class="">
                  <a href="#"><i class="fa fa-circle-o"></i> Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu" style="display: none;">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
          </ul>
        </li>
                #}
            </ul>
        </li>
    {% elseif item.label is defined %}
        <li{% if item.active is defined and item.active %} class="active"{% endif %}>
            <a href="{{ item.route }}">
                {% if item.icon is defined and item.icon != '' %}
                    <i class="{{ item.icon }}"></i>
                {% endif %}
                <span>{{ item.label|trans }}</span>
            </a>
        </li>
    {% endif %}
{% endfor %}